<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{% if page.title == 'Home' %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; Blog.bezpiecznykod.pl{% endif %}</title>
  <meta name="description" content="{% if page.title == 'Home' %}{{ site.description }}{% else %}{{ page.description }}{% endif %}">

  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title == 'Home' %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; Blog.bezpiecznykod.pl{% endif %}">
  <meta property="og:description" content="{% if page.title == 'Home' %}{{ site.description }}{% else %}{{ page.description }}{% endif %}">
  <meta property="og:image" content="https://blog.bezpiecznykod.pl/public/og_logo.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="blog.bezpiecznykod.pl">
  <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{% if page.title == 'Home' %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; Blog.bezpiecznykod.pl{% endif %}">
  <meta name="twitter:description" content="{% if page.title == 'Home' %}{{ site.description }}{% else %}{{ page.description }}{% endif %}">
  <meta name="twitter:image" content="https://blog.bezpiecznykod.pl/public/og_logo.png">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K6E2N5GL4Z"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K6E2N5GL4Z');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2517729408492527');
    fbq('track', 'PageView');
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

      <!-- Cookie Consent Message -->
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
      <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
          "palette": {
          "popup": {
              "background": "#f4f4f4",
              "text": "#3c3c3c"
          },
          "button": {
              "background": "transparent",
              "border": "#0cc0ce",
              "text": "#0cc0ce"
          }
          },
          "theme": "classic",
          "position": "bottom-right",
          "content": {
              "message": "Ta strona używa ciasteczek 🍪 dzięki czemu otrzymujesz jej najlepszą możliwą wersję.",
              "dismiss": "OK",
              "link": "Czytaj więcej",
              "href": "https://bezpiecznykod.pl/polityka-prywatnosci/"
          }
      })});
      </script>
</head>
