<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <center><a href="/"><img src="/public/logo.png"></a></center>
      <p class="lead">{{ site.description }}</p>
      <p class="lead-cta">
        Więcej o nas:<br>
        <a href="https://bezpiecznykod.pl" target="_blank">bezpiecznykod.pl</a>
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Strona główna</a>
      <a class="sidebar-nav-item" href="/archive/">Archiwum</a>
    </nav>

    <p class="sidebar-footer">&copy; {{ site.time | date: '%Y' }} <a href="https://bezpiecznykod.pl" target="_blank">Bezpieczny Kod</a> &middot; <a href="https://bezpiecznykod.pl/prywatnosc.html" target="_blank">Polityka Prywatności</a>
    </p>
  </div>
</div>
